<h1 style="background-color:blue;"> Hello Chatter </h1>


<div style="background-color:red;">
<% contactList.forEach(function(eachContact){  %>

    <p style="font-weight:bold"><%= eachContact.name %></p>

<% }) %>




</div>


