

<form action="/users/loginPost" method="post">

    <input type="text" name="firstName" placeholder="Enter First Name" >
    <input type="text" name="lastName" placeholder="Enter Last Name" >
    <input type="text" name="email" placeholder="Enter Email Name" >

    <input type="submit" class="btn btn-primary" > 

</form>